<div id="chat"  class="collapse" >
 <div class="well">
  <%= form_for @comment, remote: true do |f| %>
    <div id = "textbox" class="form-group">
      <%= f.text_area :body, rows: 3, class: 'form-control',id: 'textarea',  maxlength: 600 %>
    </div>
    <div id = "sub">
      <%= f.submit 'Post', class: 'btn btn-primary btn-lg', id:'postmessage' , onclick: 'rateLimiter();'%>
    </div>
  <% end %>
 </div> 
  <div class="panel panel-default" id="comments"> 
     <div class="panel-body">
       <ul id = "acomment" class="media-list">
          <%= render @comments %>
          </ul>
     </div>
  </div> 
</div>

<style>
body{
  height:100%;
  width:100%;
  position:absolute !important;}
.panel-body{
  padding:0px 10px 0px 10px !important;
}
.well{
  padding:15px 10px 0px 10px;
  margin-bottom: -5px !important;
  border:none!important;}
#textarea {
    height: 50px !important;}

#textbox {
    width: 70% !important;}

#postmessage {
  padding-top:12px;
  margin-top:-64px !important;
  float: right !important;
  height: 49px !important;
  width: 25% !important;}
</style>

<script>
var clicks = 0;

function rateLimiter() {
    var comment = $.trim($('#textarea').val());
    if (comment.length == 0) {
        alert('Message content is requried!');
        return;
    }
    clicks += 1;
    if (clicks > 1) {
        alert('Please wait 45 seconds between messages!');
        document.getElementById("postmessage").disabled = true;
        setTimeout('document.getElementById("postmessage").disabled=false;', 45000);
    } else {
        alert('Your message was successfully posted!');
    }
}
</script>
