<!--Hello! When you implement your map view here plz name the id of your outter div to "map"-->
<div id="map" >
    
</div>

<style>
#map{
        position:absolute !important;
        top:0;
        bottom:0;
        right:0;
        left:0;
        padding-top:60px;
        margin-right:auto;
        margin-left:auto;
        margin-top: 10px !important;
        width: 100%   !important;
        overflow:auto !important;
        height:100%  !important;
  }
</style>