<legend id = "h3headerblue">Tag a Player</legend>
   <h3 class="jumbotron"style="margin-top:0;">Total # of Players: <%= User.all.length %> <hr style="border-color:#337ab7 !important; margin-bottom:4px; margin-top:4px;">Total # of Humans <%= User.all.length - @tasks.count %></h3>
   <center> 
      <a  id ="PlayerListButton" href="#" class="btn btn-lg btn-primary" onclick="openBigframe('player');">Tag Player</a>
   </center>