<li id = "task" class="list-group-item  ">
  <%= task.description %>
 <% if user_signed_in? %>
  <% if current_user.admin? %>
    <span class="edit">
      <%= link_to task, remote: true, method: :delete,
          data: { confirm: 'Are you sure?' } do %>
        <button class="btn btn-danger btn-xs">Delete</button>
      <% end %>

    </span>
    <%end %>
    <%end %>
</li>
