 <legend id = "h3header">View Zombies</legend>
   <h3 id="z-counter" class="jumbotron"style="margin-top:0;">Total # of Zombies: <%=@tasks.count %></h3>
   <center>
      <a id ="ZombieListButton" href="#" class="btn btn-lg btn-danger" onclick="openBigframe('zombie');">View Zombies</a>
   </center>