<!-- only the newest 4 zombie markers will be displayed -->
<% markers = ZombieGroup.all %>
<% if markers.count > 3 %>
   <% markers.first.delete  %>   
<%end%>
<!--                     -->
<!-- List of Zombies     -->
<!--                     -->
<center>
<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
   <div class="modal-dialog modal-sm" >
      <div class="modal-content"style="opacity:1; max-width:400px; margin:auto;">
         <div class="modal-header">
            <button type="button" class="close" style="opacity:1; width:25px;height:25px;" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Pin a Horde</h3>
         </div>
         <div class="modal-body">
         <%= render "form" %>

         </div>
         <div class="modal-footer">
            <a type="button" class="btn btn-primary" onclick="$('#submitHorde').click();"data-dismiss="modal">Tag Zombie Horde</a>
            <a type="button" class="btn btn-danger" data-dismiss="modal">Close</a>
         </div>
      </div>
   </div>
</div>
</center>
 <% status = false %>
 <% if current_user %>
  <% tasks = Task.all %>
      <% tasks.each do |t| %>
        <%if t.description.include?(current_user.name) %>
          <% status = true %>
        <% end %>
      <% end %>
  <% end %>
  <% if status %>
    <div class="your-a-zombie">
       <h1 >You've been Tagged! Go Eat some Brains!</h1>
            <%= image_tag("tagged.png") %>
    </div>
  <% else %>
    <div id ="mapContainer" style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px; '></div>
    </div>
  <% end %>
<!--                     -->
<!--       The End       -->
<!--                     -->
<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: mapStyle,
      options: mapOptions
    },
    internal: {
      id: 'map'
    }
  }, function() {
    markers = handler.addMarkers( <%= raw @hash.to_json %> );
    handler.bounds.extendWith(markers);
    google.maps.event.addListener(handler.getMap(), 'dblclick', function(event) {
      updateFormLocation(event.latLng);
      openModal();

    });

    function submitMarker() {
      $("#submitHorde").click();
      alert("Zombie Horde Succesffully Tagged!");
    }

    function openModal() { $('#smallModal').modal('show'); }

    function updateFormLocation(latLng) {
      $('#zombie_group_latitude').val(latLng.lat());
      $('#zombie_group_longitude').val(latLng.lng());
    }
  });
</script>
