  <center>
   <div  class="center jumbotron">
    <h2 id="statement">
     <em id="big">Zombies versus Humans</em> is a live action extreme sport and strategy game played in parks and on college campuses across the nation.  We players of the Western Michigan University chapter of Zombies versus Humans pride ourselves in having one of the most deep immersive versions  of the game available.
    </h2>
  </div>
  <%= link_to "Sign up now!", '/users/sign_up' , class: "mainbtn" %>
</center>
