 <div class = "playerheader">
   <button type="button" id ="togglechat" data-toggle="collapse" data-target="#chat">
        <span class="sr-only">Toggle Chat</span>
    <p>Chat</p>
      </button>   
   <button type="button" id ="togglemap" data-toggle="collapse" data-target="#baseapp-navbar-collapse-1">
        <span class="sr-only">Toggle Map</span>
        <p>Map</p>
      </button>   
   <button type="button" id ="toggleinfo" data-toggle="collapse" data-target="#baseapp-navbar-collapse-1">
        <span class="sr-only">Toggle Info</span>
        <p>Info</p>

   </button> 
   </div>
      <style>
      .navbar-brand {
    visibility: hidden;
}

body{
    overflow:hidden;
}
#acomments{
	height:70% !important;
}
#chat{
    overflow:hidden;

}
      </style>
<script type='text/javascript'>
$(function(){

    $(window).resize(function(){
              document.getElementById('#comments').style.height = '100%';
    });
       $(' .media-list').css({'height':(($(window).height())-300)+'px'});

    $(window).resize(function(){
             document.getElementById('.media-list').style.height = '40px';
    });
});
</script>