<div class="playerheader">
<form>
    <button type="button" id="togglechat"  onclick="chat()">
        <span class="sr-only">Toggle Chat</span>
        <p>Chat</p>
    </button>
    <button type="button" id="togglemap" onclick="map()" >
        <span class="sr-only">Toggle Map</span>
        <p>Map</p>
    </button>
    <button type="button" id="toggleinfo" onclick="info()">
        <span class="sr-only">Toggle Info</span>
        <p>Info</p>
    </button>

</div>
<style>
  .navbar-brand {
        visibility: hidden;
    }

 </style>
<script>
    $(document).ready(function() {
        document.getElementById("info").style.visibility="hidden";
        document.getElementById("map").style.visibility="hidden";
        document.getElementById("chat").style.visibility="visible"; 
        setTimeout(function() {
            $('#error_explanation').remove();
            $('.alert').remove();
        }, 2500);
    })
</script>
