 
   <button type="button" id ="togglechat"class="navbar-toggle" data-toggle="collapse" data-target="#chat">
        <span class="sr-only">Toggle Chat</span>
    <p>Chat</p>
      </button>   
   <button type="button" id ="togglemap"class="navbar-toggle" data-toggle="collapse" data-target="#baseapp-navbar-collapse-1">
        <span class="sr-only">Toggle Map</span>
        <p>Map</p>
      </button>   
   <button type="button" id ="toggleinfo"class="navbar-toggle" data-toggle="collapse" data-target="#baseapp-navbar-collapse-1">
        <span class="sr-only">Toggle Info</span>
        <p>Info</p>

   </button> 
           <!--<h2><%= current_user.name %></h2>-->
      <style>
      #togglechat, #toggleinfo, #togglemap{
      	width:75px !important;
      }
      	.navbar-brand{
      		visibility:hidden;
      	}
      </style>