
<style>
  .navbar-brand {
        visibility: hidden;
    }

 </style>
<div class="playerheader">
<form>
    <button type="button" id="togglechat"  onclick="chat()">
        <span class="sr-only">Toggle Chat</span>
        <p>Chat</p>
    </button>
    <button type="button" id="togglemap" onclick="map()" >
        <span class="sr-only">Toggle Map</span>
        <p>Map</p>
    </button>
    <button type="button" id="toggleinfo" onclick="info()">
        <span class="sr-only">Toggle Info</span>
        <p>Info</p>
    </button>

</div>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#error_explanation').remove();
            $('.alert').remove();
        }, 2500);
    })


</script>

<script type="text/javascript">
$(document).ready(function() { document.getElementById("map").style.visibility="hidden";
document.getElementById("info").style.visibility="hidden";
document.getElementById("chat").style.visibility="visible"; });

function chat()
{
document.getElementById("map").style.visibility="hidden";
document.getElementById("info").style.visibility="hidden";
document.getElementById("chat").style.visibility="visible";
}
function map()
{
document.getElementById("chat").style.visibility="hidden";
document.getElementById("info").style.visibility="hidden";
document.getElementById("map").style.visibility="visible";

}
function info()
{
document.getElementById("chat").style.visibility="hidden";
document.getElementById("map").style.visibility="hidden";
document.getElementById("info").style.visibility="visible";

}
</script>