<!--
     <button class="navbar-toggle" data-target="#baseapp-navbar-collapse-2" data-toggle="collapse" id="navbarbutton" type="button" style="float:left!important; background:none!important; margin-left:10px; padding-top:15px !important; padding-bottom:15px!important;">
                   <span class="sr-only">Player Menu</span> 
                   <span class="icon-bar"></span> 
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                </button>   
-->
<div class="playerheader">

    <button type="button" id="togglechat"  onclick="location.href = '/comments/new';">
        <p>Chat</p>
    </button>
    <button type="button" id="togglemap" onclick="location.href = '/zombie_groups';" >
        <p>Map</p>
    </button>
    <button type="button" id="toggleinfo" onclick="location.href = '/tasks';">
        <p>Tag</p>
    </button>
</div>
 <button onclick="toggleFullScreen();" id = "popout" >Full</button>

<style>
   .navbar-brand {
        visibility: hidden;
    }
    #postmessage{
        margin-top: -10px !important;
        padding-top:2px;
        height:30px!important;
    }
    #textarea{
        height:65px !important;
    }
    #popout{
      opacity:0.7!important;
      background: #303030!important;
    }
 </style>
 <script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#error_explanation').remove();
            $('.alert').remove();
        }, 2500);
    })
    </script>
