 <div class = "playerheader">
   <button type="button" id ="togglechat" data-toggle="collapse" data-target="#chat">
        <span class="sr-only">Toggle Chat</span>
    <p>Chat</p>
      </button>   
   <button type="button" id ="togglemap" data-toggle="collapse" data-target="#baseapp-navbar-collapse-1">
        <span class="sr-only">Toggle Map</span>
        <p>Map</p>
      </button>   
   <button type="button" id ="toggleinfo" data-toggle="collapse" data-target="#baseapp-navbar-collapse-1">
        <span class="sr-only">Toggle Info</span>
        <p>Info</p>

   </button> 
   </div>
      <style>
      .navbar-brand {
    visibility: hidden;
}
.navbar-header{
        border-left:2px solid rgba(255, 174, 52, 0.5)!important; 

}
body{
    overflow:hidden;
}
      </style>