<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#error_explanation').remove();
            $('.alert').remove();
        }, 2500);
    })
    </script>

<div class="playerheader">

    <button type="button" id="togglechat"  onclick="chat()">
        <p>Chat</p>
    </button>
    <button type="button" id="togglemap" onclick="map()" >
        <p>Map</p>
    </button>
    <button type="button" id="toggleinfo" onclick="info()">
        <p>Info</p>
    </button>
</div>

 <button onclick="toggleFullScreen();" id = "popout" >Full</button>

<style>
   .navbar-brand {
        visibility: hidden;
    }
    #postmessage{
        margin-top: -10px !important;
        padding-top:2px;
        height:30px!important;
    }
    #textarea{
        height:65px !important;
    }
    #popout{
      opacity:0.7!important;
      background: #303030!important;
    }
 </style>