/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 *= require_custom
*/

.modal-dialog, .modal {
    height:100% !important;
    width:100% !important;
    position:absolute !important;
    left:-3px !important;
    right:0 !important;
    top:-2px !important;
    bottom:0!important;
    padding:0 !important;
}

.modal-content {
	   height:100% !important;
    width:100% !important;
    position:absolute !important;
    left:0 !important;
    right:0 !important;
    top:0 !important;
    bottom:0!important;
    padding:0 !important;
}
