@mixin easeme {
    -webkit-transition:1s ease;
    -moz-transition:1s ease;
    -o-transition:1s ease;
    -ms-transition:1s ease;
    transition:1s ease;
}

.alert{
    margin-top:7px;
}
.alert-error {
    padding: 15px;
    margin-top: 5px;
    margin-bottom:-10px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fa6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-weight: bold;
}

body {
    background-color: #303030!important;
}

.navbar {
z-index:2 !important;

    border: none !important;
    border-bottom: 1px solid #ffae34 !important;
    background-color: #202020 !important;
overflow:hidden!important;
margin-left:auto !important;
margin-right:auto !important;
}

input {
    font-size: 15px !important;
    border: 2px solid #D0D0D0 !important;
    box-shadow: inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3)!important;
    background: rgba(255, 174, 52, 0.46)!important;
    color: #fff !important;
    margin-bottom:2.5px;
}

.navbar-header {
    background-color: #202020 !important;

    margin-bottom: 0 !important;
}

.navbar-default{
border-bottom:3px solid rgba(255, 174, 52, 0.5)!important; 

}
#baseapp-navbar-collapse-1{
    border:none !important;
}
#brand{
        background-color:transparent !important;

}
.navbar-brand {
    position:absolute !important;
    margin-top:13px;
    margin-bottom:auto;
    font-family: "League-Gothic",Courier;
    text-shadow: 0px 0px 2px #FEFCC9, 2px -2px 3px #FEEC85, -5px -5px 5px #FFAE34, -3px -6px 6px #CD4606, 0px -8px 8px #973716;
    font-size: 42px !important;
    color: #f0f0f0!important;
    letter-spacing: -3px;
    background-color:transparent !important;
    text-decoration: none;

      outline:none !important;
}

h1,h2,h3,h4, label, ul {
    color: rgba(255, 174, 52, 0.8)!important;
}
#hideme{
    z-index:-10;
    opacity: 0  !important;
    color:#303030 !important;
}
.navbar-nav > li > a {
    text-align: center !important;
    font-size: 24px !important;
    color: #F0F0F0!important;
    text-decoration: none !important;
    outline:none !important;
}

.icon-bar {
    background-color: #fff !important;
    opacity: 1;
}

a {
    color: white;
    text-decoration: none !important;
}

.mainbtn,#mainbtn {
    display: inline-block !important;
    font-weight: bold !important;
    font-size: 18px !important;
    background: rgba(255, 174, 52, 0.9)!important;
    width:87% !important;

}


.jumbotron {    color: #fff !important;
    h2{

    line-height: 30px !important;
    color: #303030 !important;
    font-size: 20px !important;
    }
    padding:3px 6px 6px 3px;
    width:87% !important;
    margin-top:5vmin !important;
    margin-bottom:5vmin !important;
            box-shadow: inset 4px 6px 10px -4px rgba(0,0,0,0.7), 2px 2px 2px -1px rgba(255,255,255,0.3)!important;

}

.panel {

    background-color: #303030 !important;
    padding:20px 10px 10px 10px;
    width: 87% !important;
    height:100% !important;
}

.navbar {
background-color: #303030!important;
}

.editAvatar{

   img{
    margin-left:auto;
    margin-right:auto;
    border-radius:10%!important;
    }
}
.cancelAccount{
    margin-left:-12px;
    span{
        color: rgba(255, 174, 52, 0.8)!important;

    }
        a{
            color:#B0B0B0;
        }
    font-size: 18px;
}
p{
    a{
        font-size: 16px;
              color:#B0B0B0 !important;

    }
}
span.help-block{
        color: rgba(255, 174, 52, 0.8)!important;
}
table{

    tr.user:nth-child(odd){
        color:black;
        a{color:black}
    
    }
    tr.user:nth-child(even){
    color:white;
    
    }

}
.well{
    margin-top:10px  !important;
    margin-bottom:5px  !important;
    
    background-color: #303030;
    width:100% !important;
    height:55px !important; 
    .btn{
    width:100%  !important;
    }
}
#comments{
    width:100% !important;
    padding:10px 0px 10px 0px;
    overflow-y:hidden !important;
}
.panel-body {

  
      height:1000px !important;  
  
}
#acomment {
    p{
        font-family: Impact, Charcoal, sans-serif;
        font-size:18px !important;
       
        box-shadow: inset 2px 4px 8px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3)!important;
      
        color: white!important;
        padding: 5px;
        margin-right:auto;
    
    }

    p:before{content: '\201C'!important;
             color: white!important;}

    p:after{content: '\201D'!important;
              color: white!important;}

      overflow: auto  !important;
      img{
          border-radius:15%;
         margin-top:auto !important;
         margin-bottom:auto !important;
          max-height:90px !important;
          width: 65px !important;
          float:left !important;
      }
      li{

      margin-right:auto !important;
      width:98%!important;
      border-radius:5px;
      padding:20px 15px 15px 20px;
      }
      li:nth-child(odd){background-color:#444444;}
       li:nth-child(even){margin-top:5px !important;
        margin-bottom:5px !important;}

}
#regsignup{
    -moz-user-select: none !important;
font-weight:bold;
    width:100%  !important;
    height: 40px  !important;
    margin: 5px 0px 5px 0px;
        font-size: 17px !important;

outline:none;

}
#fbsignup{
font-weight:bold;

    width: 100% !important;
        height: 40px  !important;
            font-size: 17px !important;
            margin: 5px 0px 5px 0px;
    outline:none;
    -moz-user-select: none !important;
    background: #2A49A5 !important;
    border: 1px solid #082783 !important;
    box-shadow: 0 1px #4C6BC7 inset !important;
    color: white !important;
  
    text-decoration: none !important;
    text-shadow: 0 -1px 0 #082783 !important;
}
#togglechat, #togglemap, #toggleinfo{

    height:48px !important;
    width:49px !important; 
    background-image:none !important;
}
#togglechat{
    background-color:blue !important;
}

#toggleinfo{
    background-color:red !important;
}
#togglemap{
    background-color:green !important;
}
#navbarbutton{
    padding: 11.5px 11.5px;
    background-color:rgba(255, 174, 52, 1) !important;
    background-image:none !important;
}
#navbarpic{
    img{

        height:43px !important;
        width:44px !important;

    }
        padding: 0 !important;
}
#signInHome{
padding-top:12px;
    height:47px;
    margin-top:8px;
}

#togglechat, #toggleinfo, #togglemap {
    display: inline !important;
    margin: 4px 3px 6px 3px !important;
    width: 43px!important;
    height:44px !important;
    border: 1px solid gray;
    font-size:8px!important;

  background: #4db054;
  background-image: -webkit-linear-gradient(top, #4db054, #035406) !important;
  background-image: -moz-linear-gradient(top, #4db054, #035406) !important;
  background-image: -ms-linear-gradient(top, #4db054, #035406) !important;
  background-image: -o-linear-gradient(top, #4db054, #035406) !important;
  background-image: linear-gradient(to bottom, #4db054, #035406) !important;
    -webkit-border-radius: 28 !important;
    -moz-border-radius: 28 !important;
    border-radius: 5px !important;
    font-family: Arial !important;
    color: #ffffff !important;
    font-size: 16px !important;
    padding: 8px 3px 0px 3px !important;
    text-decoration: none !important;
    outline:none !important;
}
     #togglechat {

    background: #3476d9 !important;
    background-image: -webkit-linear-gradient(top, #3476d9, #2b53b8) !important;
    background-image: -moz-linear-gradient(top, #3476d9, #2b53b8) !important;
    background-image: -ms-linear-gradient(top, #3476d9, #2b53b8) !important;
    background-image: -o-linear-gradient(top, #3476d9, #2b53b8) !important;
    background-image: linear-gradient(to bottom, #3476d9, #2b53b8) !important;
    float: right;

}

#toggleinfo {

    background: #f74a52 !important;
    background-image: -webkit-linear-gradient(top, #f74a52, #b82c2c) !important;
    background-image: -moz-linear-gradient(top, #f74a52, #b82c2c) !important;
    background-image: -ms-linear-gradient(top, #f74a52, #b82c2c) !important;
    background-image: -o-linear-gradient(top, #f74a52, #b82c2c) !important;
    background-image: linear-gradient(to bottom, #f74a52, #b82c2c) !important;
    float: left;
}


.playerheader {
    border-left:1px solid #202020;
    display: inline-block;

    position:relative;

    border-radius:5px;
}
#TheHeader{
width:100%;

}

/*
COOL NAV BUTTON STYLING
*/

.navbutton  {
    background-color:#303030 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size:12px !important;
    text-decoration:none !important;
    color:#fff !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    position:relative !important;
    padding:10px 20px !important;
    padding-right:50px !important;
    border-radius:5px;
    border: 2px solid rgba(255, 174, 52, 0.7)!important;
   
}

.navbutton:active {
    top:3px;
    background-image: linear-gradient(bottom, #303030 0%, rgba(255, 174, 52, 0.7) 100%);
    background-image: -o-linear-gradient(bottom, #303030 0%, rgba(255, 174, 52, 0.7) 100%);
    background-image: -moz-linear-gradient(bottom, #303030 0%, rgba(255, 174, 52, 0.7) 100%);
    background-image: -webkit-linear-gradient(bottom, #303030 0%, rgba(255, 174, 52, 0.7) 100%);
    background-image: -ms-linear-gradient(bottom, #303030 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(62,184,229)),
    color-stop(1, rgb(44,160,202))
    );
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 174, 52, 0.3), 0px 2px 0px 0px #303030, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 174, 52, 0.3), 0px 2px 0px 0px #303030, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px rgba(255, 174, 52, 0.3), 0px 2px 0px 0px #303030, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px rgba(255, 174, 52, 0.3), 0px 2px 0px 0px #303030, 0px 5px 3px #999;
}

.navbutton::before {
    background-color:#2591b4 !important;
    background-image:url(right_arrow.png) !important;
    background-repeat:no-repeat !important;
    background-position:center center !important;
    text-decoration:none !important !important;
    content:"" !important;
    width:20px !important;
    height:20px !important;
    position:absolute !important;
    right:15px !important;
    top:50% !important;
    margin-top:-9px !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border-radius: 50% !important;
    -webkit-box-shadow: inset 0px 1px 0px , 0px 1px 0px #60c9f0 !important;
    -moz-box-shadow: inset 0px 1px 0px , 0px 1px 0px #60c9f0 !important;
    -o-box-shadow: inset 0px 1px 0px , 0px 1px 0px #60c9f0 !important;
    box-shadow: inset 0px 1px 0px , 0px 1px 0px #60c9f0 !important;
}
   #popout{

      margin:6px 0px 0px 3px  !important;
      width:47px!important;
      height:47px!important;
      
        background-color: rgba(240, 174, 52, 0.6)!important;
      border-radius:50%;

  }
