
/*DESKTOP CSS*/
@media only screen and (min-width:768px) {
    
body{
    width:77%;
    margin-left:auto;
    margin-right:auto;
        background-color: #202020 !important;


}


#comments, .panel-body{

margin:auto!important;
        position:relative!important;
}
#chat{
width:72% !important;
margin:auto !important;

          position:relative!important;


}}

@media only screen and (min-width:968px) {
    
body{
    width:68%;
    margin-left:auto;
    margin-right:auto;
        background-color: #202020 !important;

}}
@media only screen and (min-width:1100px) {
    
body{
    width:57%;
    margin-left:auto;
    margin-right:auto;
        background-color: #202020 !important;

}}

/*DESKTOP CSS*/


