     .panel-body {
        padding-top: 0px !important;
        margin-top: -3px !important;
        margin-right: -8px!important;
        margin-left: -8px!important;
        padding-bottom: 0px !important;
        margin-bottom: -10px !important;
        overflow-x:hidden !important;
           background-color:#303030!important;
border-top: solid 1px gray !important;

    }
    #acomments {
        height: 90% !important;
        overflow-x:hidden !important;

    }
    #comments {
        margin-bottom: 0px!important;

        position: relative!important;
        top: 0!important;
        right: 0!important;
        bottom: 0!important;
        left: 0!important;
        overflow-x:hidden !important;

    }
    #chat {
       
        overflow: hidden;
        position:absolute !important;
        top: 60px!important;
        right: 0!important;
        bottom: 0!important;
        left: 0!important;
        overflow-x:hidden !important;
        display:inline-block !important;

    }
   
    .new_comment {
        margin-top: -15px !important;
        margin-bottom: -10px !important;
    }
    #messagebtn {
        padding-top: 4px!important;
        margin-top: -8px !important;
        height: 30px !important;
    }
    #messagebox {
        height: 14vmin !important;
        margin-top: 5px;
    }
    li.media.comment {
        padding-top: 5px !important;
        margin-top: 0px !important;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    img.media-object {
        margin-right: 8px !important;
        display: inline-block !important;
        float: left !important;
        max-height: 60px !important;
        max-width: 45px !important;
    }
    h4.media-heading {
        display: inline-block!important;
        font-size:15px !important;
    }
    #acomment p {
        font-size: 17px!important;
    }
    p {
        display: inline-block!important;
        width: 90%;
    }
